
<% provide(:button_text, 'Add Item') %>

	<div class='listNameContainer'>
		<h1 class='listName'><%= @list.name %> </h1>
		<%=link_to "Share", shareList_path(:id => @list.id), class: 'buttonText' %>
	</div>
	<ul class="lists">
	<% @items.each do |item| %>
	  <li>
	  	<p  class='listTitle'><%= item.name %></p>
	  	<%=link_to "DELETE", deleteItem_path(:id => item.id), method: :delete, class: 'deleteButton' %>
	  </li>
	<% end %>
	</ul>

<%= render 'item_form' %>
